body {
    margin: 0;
    height: 100%;
    position: relative;
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
}
#home-page{
 height: 100vh;
 /* border: 1px solid red */
}
#home-page .welcome {
    /* border: 1px solid red; */
    /* padding-left: 125px;
    border: 2px solid black; */
}
/* .home-page {
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 15px;
    height: 100%;
}
.home-page img {
    width: 60%;
}
.home-page .text {
    border: 1px solid red;
    color: #fbefda;
    margin: auto;
} */
#about-me {
    height: 100vh;
    
}
#about-me img {
    height: 650px;
}
#skills i{
    color: black;
    font-size: 5rem;
   
}
#education .card {
    flex-direction: row;
    align-items: center;
    margin: 20px;
  }
#education .card-title {
    font-weight: bold;
  }
#education .card img {
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
